includes:
	- ../../phpstan/phpstan-phpunit/rules.neon
	- ../../phpstan/phpstan-phpunit/extension.neon
	- ../../jangregor/phpstan-prophecy/src/extension.neon
	- ../../localheinz/phpstan-rules/rules.neon
	- ../../phpstan/phpstan-strict-rules/rules.neon
	- ../../phpstan/phpstan-deprecation-rules/rules.neon